@font-face {
  font-family: 'Fell English';
  src: url('/font/IMFellEnglish-Regular.ttf');
}

* {
  box-sizing: border-box;
}

html,
body {
  background: #080510;
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;
  font: 500 normal 19px/21px 'Fell English', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: .3rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 100vw;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}

h2 {
  color: white;
  font: normal 400 4em serif;
}

h2, h3, h4 {
  font-size: 2em;
  font-weight: 400;
  line-height: 1.2em;
  text-transform: uppercase;
}

p {
  max-width: 50%;
  margin: 1rem auto;
  line-height: 1.6em;
}

input {
  display: block;
  border: none;
  padding: .75rem;
  border-radius: .25rem;
  width: 50%;
  margin: 1rem auto;
  background: white;
  color: black;
  border: none;
  outline: none;
  font-family: "Square Sans Text VF", "Square Sans Text", Arial, sans-serif;
  font-size: 16px;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.55);
}

input:focus {
  border-color: #70590a;
}

button {
  background: white;
  border: 3px double black;
  border-radius: .5rem;
  color: black;
  width: 10rem;
  padding: 1rem 2rem;
  font: 800 normal 16px 'Fell English', serif;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  opacity: .9;
}

input[disabled],
button[disabled] {
  cursor: not-allowed;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

ul > li {
  margin: 1rem;
  padding: 0;
}

hr {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  margin: 1rem auto;
  opacity: .2;
}

@media (max-width: 900px) {
  p {
    max-width: 100%;
    margin: 2rem auto 0;
  }

  input {
    width: 90%;
  }
}
