button.link {
  appearance: none;
  display: inline;
  background: transparent;
  color: white;
  text-decoration: underline;
}

.container {
  padding: 2rem 10vw;
  overflow: hidden;
}

.main {
  min-height: 80vh;
}

.main > section {
  height: 80vh;
  min-height: 40rem;
}

.hero {
  height: 90vh;
  position: relative;
}

.hero h2,
.hero p {
  text-align: center;
}

.hero h2 {
  margin: 0;
  font-size: 0;
  text-indent: -100vw;
  background: url('/img/shadowvane.png') center center / contain no-repeat;
  display: block;
  width: 50%;
  height: 20%;
}

.hero p {
  color: white;
  margin: 0 0 3rem;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-width: 100%;
  height: 100%;
  overflow: hidden;
}

.video > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .75;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.product {
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
  margin: 2rem;
}

.product > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
  border-radius: 1rem;
}

.product:nth-of-type(1) > img {
  object-position: left top;
}

.info {
  color: white;
  margin: 2.5rem;
  padding: 2.5rem;
  text-align: left;
  line-height: min(max(1.3em, 2.6vw), 2.6em);
}

.info:nth-of-type(3) {
  padding-left: 5rem;
}

.info > h3,
.info > p {
  max-width: 100%;
  margin: 0 0 1rem;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  margin-top: 5rem;
}

.features h4 {
  margin: 0;
}

.feature {
  min-width: 10rem;
  cursor: pointer;
}

.media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}

.banner,
.banner-show {
  position: fixed;
  top: -5rem;
  left: .5rem;
  right: .5rem;
  width: calc(100% - 1rem);
  padding: 1rem;
  border-radius: .5rem;
  background: white;
  color: black;
  z-index: 2000;
  border: 3px double black;
  opacity: 0;
  transition: top .5s ease, opacity .5s ease;
}

.banner-show {
  top: .25rem;
  opacity: 1;
}

.product,
.screenshot,
.characters {
  border: 3px double #70590a;
  border-radius: 1rem;
}

.screenshot,
.characters {
  border-color: #222;
}

.characters {
  display: flex;
  margin: 2rem 0 0;
  align-items: center;
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
}

.characters > ul {
  flex-direction: column;
  width: 30%;
}

.characters > ul > li h3 {
  margin: 0;
}

.characters > ul > li h3,
.feature > h3 {
  font-size: 1.1em;
  font-weight: 500;
  text-transform: none;
}

.lock {
  display: inline-block;
  width: .75em;
  height: .75em;
  background: url('/img/lock.svg') 0 0 / contain no-repeat;
  margin-right: .1em;
}

.characters > ul > li:not(.characters > ul > li:first-of-type) {
  filter: saturate(0);
}

.knight > img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.abilities {
  width: 12rem;
  margin: 1rem auto;
}

.abilities > li,
.characters > ul > li {
  margin: 0;
  cursor: pointer;
}

.characters > ul > li {
  margin: 0 0 1rem;
}

.abilities > li > img,
.screenshot > img {
  display: inline-block;
  border-radius: .5rem;
}

.screenshots {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  overflow: hidden;
}

.screenshot {
  margin: 1rem;
  border-radius: .5rem;
  overflow: hidden;
}

.screenshot > img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 20vw;
}

.footer {
  display: flex;
  min-height: 40rem;
  background: url('/img/shadowvane-background.jpg') center top / cover no-repeat;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.features > ul {
  margin: 3rem 0 0;
}

.characters > ul > li,
.features > ul > li {
  transition: text-shadow .5s ease;
}

.footer h3,
.footer p,
.characters > ul > li:hover,
.features > ul > li:hover {
  text-shadow: 0 0 .75rem #e60981;
}

.characters > ul > li > img,
.features > ul > li > img {
  transition: box-shadow .5s ease;
}

.characters > ul > li:hover > img,
.features > ul > li:hover > img {
  transition: box-shadow .5s ease;
  box-shadow: 0 0 3rem #a61362;
}

.play {
  background: url('/img/play-button.png') center center / contain no-repeat;
  height: 6rem;
  width: 10rem;
  padding: 0;
  margin: 0;
  font-size: 0;
  text-indent: -100vw;
  overflow: hidden;
  cursor: pointer;
  border: none;
  transition: filter 1s ease;
  filter: brightness(-1);
}

.play:hover {
  filter: brightness(1.5);
}

.characters > ul > li > img,
.features > ul > li > img {
  box-shadow: 0 0 3rem #41323b;
  border-radius: 100vw;
}

.overlay,
.overlay-show {
  position: fixed;
  left: 5%;
  right: 5%;
  top: 5%;
  bottom: 5%;
  z-index: 1000;
  background: black;
  border-radius: 1rem;
  border: 3px double white;
  box-shadow: 0 0 2rem black;
  overflow-y: auto;
  display: none;
}

.overlay-show {
  display: block;
}

.close {
  position: absolute;
  width: auto;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  padding: 0;
  margin: 1rem;
  color: white;
  min-width: 0;
}

.overlay h3 {
  font-size: 1.2em;
}

.platforms {
  width: 80%;
  max-width: 40rem;
  margin: 1rem auto;
}

.platform {
  margin: 0;
}

.notice {
  font-size: .9em;
  border-top: solid 1px white;
  border: 3px double #911d1d;
  border-radius: 1rem;
  margin: 2rem;
  color: #911d1d;
}

.shop {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subfooter {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  background: #261620;
  border-top: 3px double #333;
}

.shadowvane {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shadowvane img {
  max-width: 40%;
  object-fit: contain;
}

.buy {
  text-align: center;
}

.payments {
  max-width: calc(40% - 2rem);
  margin-left: 2rem;
  text-align: left;
}

.payments p {
  text-align: left;
  margin: 0;
  font-size: 0.8em;
  max-width: 75%;
}

.payments button {
  margin: 1rem 0;
}

.price {
  font-size: 2em;
  font-weight: 100;
  text-align: left;
  margin: 1.4rem 0;
}

@media (max-width: 900px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info {
    text-align: center;
  }

  .info:nth-of-type(3) {
    padding-left: 2rem;
  }

  .hero h2 {
    width: 100%;
  }

  .features p {
    line-height: 2em;
    margin: 0;
  }

  .detail {
    max-width: 75%;
  }

  .product {
    margin: 1rem;
  }

  .features > ul {
    display: block;
  }

  .feature {
    margin: 5rem auto;
  }

  .characters {
    flex-direction: column-reverse;
  }

  .characters > ul {
    justify-content: space-between;
    width: 100%;
    margin: 1rem auto 2rem;
  }

  .characters > ul > li > img {
    width: 50px;
    height: 50px;
  }

  .overlay {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .download,
  .overlay hr {
    display: none;
  }

  .overlay button:not(.close) {
    margin: 0 auto;
  }

  .screenshots {
    grid-template-columns: 1fr;
    width: 90vw;
  }

  .screenshot {
    height: 54vw;
  }

  .screenshot > img {
    width: 100%;
    height: 100%;
  }

  .payments p {
    max-width: 100%;
  }
}

@media (prefers-color-scheme: dark) {

}
